
<h1>@<%= @user.user_name.capitalize %>'s recent 10 Tweets!</h1>
<% @tweets.each do |tweet| %>
<div class="tweet-box">
  <a href="http://twitter.com/<%=@user.user_name%>"><h3><img src="<%=tweet.profile_image_url%>"><%= @user.user_name.capitalize %> <small>tweeted</small></h3></a>
  <p> "<%=tweet.text%>"</p>
  <footer style="color:black"> retweets: 
    <%if tweet.retweet_count %>
    <%=tweet.retweet_count%>
    <%end%>
    <% if tweet.favorite_count %>
    <% end %>
    favorited: <%=tweet.favorite_count%>
    
  </footer>
</div>
<%end%>

